
.site-content {
}
.site-content .widget-area {
    width: 250px;
    float: right;
    padding: 4rem;
    background: #e5e0d9;
}
.site-footer {
    clear: both;
    width: 100%;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    padding: 0 4rem;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .content-area {
        width: 100%;
        float: left;
        margin-left: -250px;
        padding-left: 250px;
    }
    
    .entry-header,
    .entry-content,
    .entry-meta,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation { 
        margin-right: 0; 
    }
    
}

@media screen and (max-width: 767px) {  
    .site-content .widget-area {
        width: auto;
        max-width: 780px;
        float: none;
        margin: 1em auto 0;
    }
}
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: #fff;
} 